In [4]:
import pandas as pd

data = {'day': [1, 3, 4, 5, 12],
       'month' : [3, 4, 6, 7, 10],
       'year' : [2001, 2003, 2019, 2020, 2021]}
df = pd.DataFrame(data)
df

   day  month  year
0    1      3  2001
1    3      4  2003
2    4      6  2019
3    5      7  2020
4   12     10  2021

In [7]:
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1      3  2001  2001-03-01
1    3      4  2003  2003-04-03
2    4      6  2019  2019-06-04
3    5      7  2020  2020-07-05
4   12     10  2021  2021-10-12

In [8]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object