In [2]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0  19  14   2   2   3
1   6  14  10  15   2
2  10   6  16   8  12
3  15  10  15   6   5
4  11  10   7  19   3

In [3]:
df.loc[[0,3,4], ['B', 'E']]

    B  E
0  14  3
3  10  5
4  10  3

In [5]:
df.loc[df['B']>10, ['B','D','E']]

    B   D  E
0  14   2  3
1  14  15  2

In [6]:
df.loc[0:4, 'B':'D']

    B   C   D
0  14   2   2
1  14  10  15
2   6  16   8
3  10  15   6
4  10   7  19